@import '~antd/dist/antd.css';

html,body{
  height: 100%;
}
.app,#root{
  height: 100%;
}
.nav{
  min-width: 80px;
  text-align: center;
  display: inline-block;
  height: 100%;
  background: #000;
  float: left;
}

.route-container{
  margin-left: 80px;
  overflow: hidden;
}

.nav li{
  height: 30px;
  line-height: 30px;
  background: #2E353B;
  color: #fff;
  width: 100%;
}
.nav .active{
  background: #fff;
  color: #000;
}
.nav-link{
  height: 100%;
  display: inline-block;
  width: 100%;
}
