@import '~antd/dist/antd.css';

html,body{
  height: 100%;
}
.app,#root{
  height: 100%;
}
.nav{
  min-width: 80px;
  text-align: center;
  display: inline-block;
  height: 100%;
  background: #000;
  float: left;
}

.route-container{
  margin-left: 80px;
  overflow: hidden;
}

.nav li{
  height: 30px;
  line-height: 30px;
  background: #2E353B;
  color: #fff;
  width: 100%;
}
.nav .active{
  background: #fff;
  color: #000;
}
.nav-link{
  height: 100%;
  display: inline-block;
  width: 100%;
}

.chat{
  position: relative;
  z-index: 1;
}

.chat .box1{
  position: relative;
  z-index: 10;
}

.chat .box2{
  position: relative;
  z-index: 5;
}

.modal-fixed{
  position: fixed;
  background: rgba(0, 221, 67, 0.5);
  text-align: center;
  /*height: 100%;*/
  /*width: 100%;*/
  left:0;
  right: 0;
  top:0;
  bottom: 0;
  z-index: 1000;
}

.tag-box{
  border: 1px solid #000;
}

.tag-box>div{
  margin: 15px;
  border: 1px solid green;
}

.example-enter {
  background-color: #C00001;
}

.example-enter.example-enter-active {
  background-color: #FFBB0B;
  transition: all 1000ms ease-in;
}

.example-leave {
  background-color: #1FDD39;
}

.example-leave.example-leave-active {
  background-color: #1205DD;
  transition: all 1000ms ease-in;
}

.example-appear {
  background: none;
}

.example-appear.example-appear-active {
  opacity: 1;
  background: #030D1D;
  transition: all 5s ease-in;
}